* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.home {
    background: url('/images/background-home-desktop.jpg');
    background-size: cover;
    background-position: center;
}

.destination {
    background: url('/images/background-destination-desktop.jpg');
    background-size: cover;
    background-position: center;
}

.crew {
    background: url('/images/background-crew-desktop.jpg');
    background-size: cover;
    background-position: center;
}

.technology {
    background: url('/images/background-technology-desktop.jpg');
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 5vw;
    margin-top: 40px;
}

.line-header {
    width: 37vw;
    height: 1px;
    background-color: #555;
    margin-left: 50px;
    margin-top: 40px;
    z-index: 1;
    opacity: 0.6;
}

.close {
    display: none;
}

header nav {
    background: linear-gradient(to right, #20242e, transparent, transparent, transparent, transparent);
    backdrop-filter: blur(5px);
    margin-left: -20px;
    padding: 2%;
    width: 55vw;
    margin-top: 40px;
    height: 90px;
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-left: 5%;
}

header nav ul li {
    margin-left: 40px;
    padding: 34px 0px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}

a span {
    margin-left: 5px;
}

header nav ul li a:hover {
    opacity: 0.7;
}

.active {
    border-bottom: 3px solid white;
    transition: all ease 0.5s;
}

main {
    display: flex;
    margin-top: 120px;
}

.info {
    color: white;
    text-align: start;
    max-width: 370px;
    margin-left: 120px;
}

.subtitle {
    font-size: 25px;
    text-transform: uppercase;
}

.title {
    font-size: 90px;
    text-transform: uppercase;
    letter-spacing: 18px;
    margin-top: 10px;
}

.text {
    color: #bbb;
    line-height: 22px;
    margin-top: 25px;
}

.explore-sec {
    margin-left: 400px;
    margin-top: 60px;

}

.explore {
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
    transition: all ease 0.5s;
}

.explore:hover {
    box-shadow: 0px 0px 0px 40px rgba(255, 255, 255, 0.1);
}

.info-planets {
    color: white;
    margin-left: 20vw;
    margin-top: -30px;
}

.images-planets img {
    width: 22vw;
    margin-left: 100px;
    margin-top: -30px;
}


.select-planets ul {
    display: flex;
    list-style: none;
}

.select-planets ul li {
    margin-right: 20px;
    padding: 3px 0px;
    cursor: pointer;
    transition: all ease 0.5s;
}

.select-planets ul li a {
    text-decoration: none;
    color: white;
}

.info-planets .infos {
    margin-top: 20px;
}

.info-planets .infos h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.info-planets .infos p {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #444;
    max-width: 48vw;
}

.stastisc {
    margin-top: 25px;
    display: flex;
}

.stastisc p {
    text-transform: uppercase;
}

.stastisc .travel-info {
    margin-left: 15vw;
}

.distance,
.travel-time {
    font-size: 25px;
}

.avg-distance,
.travel {
    color: #bbb;
    font-size: 14px;
    margin-bottom: 5px;
}

.pick-destin,
.meet-crew,
.space-launch {
    color: #666;
    margin-left: 30px;
    text-transform: uppercase;
}

.pick-destin span,
.meet-crew span,
.space-launch span {
    color: white;
    margin-left: 10px;
}

.crew-info {
    margin-left: 30px;
    color: white;
}

.pattent {
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 2px;

}

.name {
    text-transform: uppercase;
    font-size: 38px;
    margin-top: 10px;
}

.bio {
    max-width: 54vw;
    margin-top: 20px;
}

.points {
    display: flex;
    margin-top: 100px;
}

.points a {
    width: 8px;
    height: 8px;
    background-color: #aaa;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.activePoint {
    background-color: white !important
}

.crew-image img {
    width: 270px;
    margin-top: -90px;
    margin-left: 80px;
}

.numbers {
    margin-left: 7vw;
}

.number {
    border: 1px solid #888;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    font-weight: 700;
    cursor: pointer;
}


.active-number {
    background-color: white;
    color: black;
}

.number a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.active-number a {
    color: black;
}

.info-launchers {
    margin-left: 20vw;
    color: white;
}

.launcher-subtitle {
    text-transform: uppercase;
}

.launcher-title {
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 5px;
}

.description {
    max-width: 29vw;
}

.launcher-image img {
    width: 30vw;
    height: 430px;
    margin-top: -130px;
    position: fixed;
    right: 0;
}


@media screen and (min-width: 1920px) {
    .info {
        max-width: 467px;
    }

    .subtitle {
        font-size: 33px;
    }

    .title {
        font-size: 130px;
    }

    .text {
        font-size: 20px;
        margin-top: 40px;
        line-height: 30px;
    }

    .explore-sec {
        margin-left: 700px;
        margin-top: 160px;
    }

    .explore {
        width: 280px;
        height: 280px;
        font-size: 28px;
    }

    .info-planets .infos p {
        max-width: 49vw;
        font-size: 16px;
    }

    .crew-info {
        margin-left: 60px;
    }

    .pattent {
        font-size: 26px;
    }

    .name {
        font-size: 42px;
    }

    .bio {
        line-height: 25px;
        margin-top: 40px;
    }

    .points {
        margin-top: 350px;
    }

    .points a {
        margin-right: 20px;
    }

    .crew-image img {
        width: 400px;
        margin-top: 30px;
        margin-left: 250px;
    }

    .number {
        margin-bottom: 25px;
        width: 45px;
        height: 45px;
    }

    .description {
        margin-top: 15px;
        line-height: 25px;
    }

    .launcher-image img {
        height: inherit;
    }

}

@media screen and (min-width : 900px) and (max-width : 1024px) {
    header nav {
        margin-left: -50px;
        width: 82vw;
    }

    .explore-sec {
        margin-left: 200px;
        margin-top: 160px;
    }
}

@media screen and (max-width : 768px) {
    .line-header {
        width: 20vw;
        margin-left: 30px;
        margin-right: 70px;
    }

    header nav {
        margin-left: -100px;
        width: 70vw;
    }

    header nav ul li {
        margin-left: 40px;
    }

    header nav ul li a {
        font-size: 12px;
    }

    .info {
        margin-left: 80px;
    }

    .subtitle {
        font-size: 20px;
    }

    .title {
        font-size: 70px;
    }

    .explore-sec {
        margin-left: 40px;
        margin-top: 200px;
    }

    .explore {
        width: 180px;
        height: 180px;
        font-size: 22px;
    }


    .info-planets .infos p {
        font-size: 12px;
        max-width: 44vw;
    }

    .avg-dstance,
    .travel {
        font-size: 13px;
    }

    .stastisc .travel-info {
        margin-left: 12vw;
    }

    .distance,
    .travel-time {
        font-size: 22px;
    }

    .info-launchers {
        margin-left: 15vw;
    }

    .description {
        max-width: 38vw;
    }

    .launcher-title {
        font-size: 30px;
    }

    .meet-crew,
    .space-launch,
    .pick-destin {
        margin-top: 30px;
    }
}

@media screen and (max-width: 425px) {
    .line-header {
        display: none;

    }

    .home {
        overflow: hidden;
    }

    header nav {
        width: 50vw;
        position: absolute;
        margin-top: 200px;
        backdrop-filter: blur(15px);
        background: none;
        margin-top: 90vh;
        height: 100vh;
        transition: all ease 0.5s;
        z-index: 99;
        margin-left: 100vw;
        flex-direction: column;
        display: none;
    }

    .close {
        display: block;
        right: 0;
        cursor: pointer;
        margin-right: 15%;
    }

    .open {
        width: 32px;
        height: 0px;
        justify-content: center;
        background-color: red;
        align-items: center;
        right: 0;
        position: fixed;
        margin-right: 15px;
    }

    .open .line {
        width: 30px;
        height: 5px;
        background-color: white;
        margin-top: 6px;

    }


    .close img {
        width: 30px;
        margin-left: 100%;
    }

    nav ul {
        flex-direction: column;
        margin-top: 30px;
        margin-right: 50%;
        width: 80%;
    }

    header nav ul li {
        padding: 0px 0px;
        margin-right: -24%;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .active {
        border: 0px;
        border-right: 3px solid white;
    }

    nav ul li a span {
        margin-left: 10px;
    }

    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }

    .info {
        margin-left: 0px;
        text-align: center;
        max-width: 98vw;
    }

    .subtitle {
        font-size: 14px;
        letter-spacing: 2px;
    }

    .title {
        font-size: 90px;
        letter-spacing: 0px;
        margin-top: 40px;
    }

    .text {
        font-size: 9px;
        line-height: 15px;
        margin-top: 10px;
    }

    .explore-sec {
        margin-left: 0px;
        margin-top: 100px;
    }

    .explore {
        width: 170px;
        height: 170px;
        font-size: 15px;
    }

    .pick-destin {
        font-size: 16px;
    }

    .images-planets img {
        width: 45vw;
        margin-left: 0px;
        margin-top: -30px;
    }

    .info-planets {
        margin-left: 0vw;
        margin-top: 30px;
        text-align: center;
    }

    .select-planets ul {
        margin-left: 50px;
    }

    .select-planets ul li {
        margin-right: 10px;
        margin-left: 20px;
    }

    .info-planets .infos p {
        font-size: 13px;
        max-width: 90vw;
    }

    .stastisc {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stastisc .travel-info {
        margin-left: 0vw;
        margin-top: 20px;
    }

    .meet-crew {
        font-size: 16px;
        text-align: center;
    }

    .crew-image {
        position: absolute;
    }

    .crew-image img {
        position: absolute;
        margin: 0px;
        width: 180px;
        height: 250px;
        margin-top: -70px;
        margin-left: -80px;
    }

    .points {
        margin-top: -150px;
        position: absolute;
        margin-left: 155px;
    }

    .crew-info {
        position: absolute;
        margin-top: 600px;
        text-align: center;
        margin-left: 0px;
    }

    .pattent {
        font-size: 16px;
    }

    .name {
        font-size: 25px;
    }

    .bio {
        max-width: 95vw;
        font-size: 12px;
    }

    .launcher-image img {
        width: 100vw;
        height: 230px;
        margin-top: -50px;
        position: absolute;
    }

    .space-launch {
        font-size: 18px;
        text-align: center;
    }

    .numbers {
        position: absolute;
        margin-left: 0px;
        display: flex;
        margin-top: 440px;
    }

    .number {
        margin-right: 20px;
    }

    .info-launchers {
        margin-left: 0px;
        margin-top: 620px;
        position: absolute;
        text-align: center;

    }

    .description {
        max-width: 95vw;
        font-size: 11px;
    }

    .launcher-subtitle {
        font-size: 14px;
    }

    .launcher-title {
        font-size: 25px;
    }





}