*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.home {
    background: url('/images/background-home-desktop.jpg');
    background-size: cover;
    background-position: center;
}

.destination{
    background: url('/images/background-destination-desktop.jpg');
    background-size: cover;
    background-position: center;
}

.crew{
    background: url('/images/background-crew-desktop.jpg');
    background-size: cover;
    background-position: center;
}

.technology{
    background: url('/images/background-technology-desktop.jpg');
    background-size: cover;
    background-position: center;
}

header{
    display: flex;
    align-items: center;
}

.logo{
    margin-left: 5vw;
    margin-top: 40px;
}

.line-header{
    width: 37vw;
    height: 1px;
    background-color: #555;
    margin-left: 50px;
    margin-top: 40px;
    z-index: 1;
    opacity: 0.6;
}

header nav{
    background: linear-gradient(to right, #20242e,transparent,transparent,transparent,transparent);
    backdrop-filter: blur(5px);
    margin-left: -20px;
    padding: 2%;
    width: 55vw;
    margin-top: 40px;
    height: 90px;
    display: flex;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-left: 5%;
}

header nav ul li{
    margin-left: 40px;
    padding: 34px 0px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}

a span{
    margin-left: 5px;
}

header nav ul li a:hover{
    opacity: 0.7;
}

.active{
    border-bottom: 3px solid white;
    transition: all ease 0.5s;
}

main{
    display: flex;
    margin-top: 120px;
}

.info{
    color: white;
    text-align: start;
    max-width: 370px;
    margin-left: 120px;
}

.subtitle{
    font-size: 25px;
    text-transform: uppercase;
}

.title{
    font-size: 90px;
    text-transform: uppercase;
    letter-spacing: 18px;
    margin-top: 10px;
}

.text{
    color: #bbb;
    line-height: 22px;
    margin-top: 25px;
}

.explore-sec{
    margin-left: 400px;
    margin-top: 60px;

}

.explore{
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
    transition: all ease 0.5s;
}

.explore:hover{
    box-shadow: 0px 0px 0px 40px rgba(255, 255, 255, 0.1);
}

.info-planets{
    color: white;
    margin-left: 20vw;
    margin-top: -30px;
}

.images-planets img{
    width: 22vw;
    margin-left: 100px;
    margin-top: -30px;
}


.select-planets ul{
    display: flex;
    list-style: none;
}

.select-planets ul li{
    margin-right: 20px;
    padding: 3px 0px;
    cursor: pointer;
    transition: all ease 0.5s;
}
.select-planets ul li a{
    text-decoration: none;
    color: white;
}

.info-planets .infos{
    margin-top: 20px;  
}

.info-planets .infos h1{
    font-size: 50px;
    text-transform: uppercase;
}

.info-planets .infos p{
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #444;
    max-width: 48vw;
}

.stastisc{
    margin-top: 25px;
    display: flex;
}

.stastisc p{
    text-transform: uppercase;
}

.stastisc .travel-info{
    margin-left: 15vw;
}

.distance,.travel-time{
    font-size: 25px;
}

.avg-distance, .travel{
    color: #bbb;
    font-size: 14px;
    margin-bottom: 5px;
}

.pick-destin, .meet-crew,.space-launch{
    color: #666;
    margin-left: 30px;
    text-transform: uppercase;
}

.pick-destin span, .meet-crew span, .space-launch span{
    color: white;
    margin-left: 10px;
}

.crew-info{
    margin-left: 30px;
    color: white;
}

.pattent{
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 2px;

}
.name{
    text-transform: uppercase;
    font-size: 38px;
    margin-top: 10px;
}

.bio{
    max-width: 54vw;
    margin-top: 20px;
}

.points{
    display: flex;
    margin-top: 100px;
}

.point{
    width: 8px;
    height: 8px;
    background-color: #aaa;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.active-point{
    background-color: white;
}

.crew-image img{
    width: 21vw;
    margin-top: -75px;
    margin-left: 80px;
}

.numbers{
    margin-left: 7vw;
}

.number{
    border: 1px solid #888;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    font-weight: 700;
    cursor: pointer;
}

.active-number{
    background-color: white;
    color: black;
}

.info-launchers{
    margin-left: 20vw;
    color: white;
}

.launcher-subtitle{
    text-transform: uppercase;
}

.launcher-title{
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 5px;
}

.description{
    max-width: 29vw;
}

.launcher-image img{
    width: 30vw;
    height: 430px;
    margin-top: -130px;
    position: fixed;
    right: 0;
}



