{{>partials/header}}

<h1 class="pick-destin">01 <span>Pick Your Destination</span></h1>
    {{#planets}}
    <main>
        {{>partials/planet}}
        </section>
    </main>
    {{/planets}}
    <main>
    {{#defaultPlanet}}
     <section class="images-planets"><img src="/images/{{images.png}}" alt=""></section>
        <section class="info-planets">
            <div class="select-planets">
                <ul>
                    <li class=""><a href ='/destination:moon'>Moon</a></li>
                    <li class =''><a href = '/destination:mars'>Mars</a></li>
                    <li class ='' ><a href ='/destination:europa'>Europa</a></li>
                    <li class =''><a href = '/destination:titan'>Titan</a></li>
                </ul>
            </div>
            <div class="infos">
                <h1>{{name}}</h1>
                <p>{{description}}</p>   
            </div>
            <div class="stastisc">
                <div class="distance-info">
                    <p class="avg-distance">Avg. Distance</p>
                    <p class="distance">{{distance}}</p>
                </div>
                <div class="travel-info">
                    <p class="travel">Est. Travel Time</p>
                    <p class="travel-time">{{travel}}</p>
                </div>
            {{/defaultPlanet}}
             </section>
            </div>
        </main>

{{>partials/footer}}