{{>partials/header}}

 <h1 class="space-launch">03<span>Space Launch 101</span></h1>
    <main>
        <section class="numbers">
            <div class="number {{#active.Launchvehicle}}active-number{{/active.Launchvehicle}}">
                <a href = '/technology:Launchvehicle'>1</a>
            </div>
            <div class="number {{#active.Spaceport}}active-number{{/active.Spaceport}}">
                <a href = '/technology:Spaceport'>2</a>
            </div>
            <div class="number {{#active.Spacecapsule}}active-number{{/active.Spacecapsule}}">
                  <a href = '/technology:Spacecapsule'>3</a>
            </div>
        </section>
        {{#technologyDefault}}
            {{>partials/technologypart}}
        {{/technologyDefault}}
        {{#techModel}}
            {{>partials/technologypart}}
        {{/techModel}}
{{>partials/footer}}