{{>partials/header}}

 <h1 class="space-launch">03<span>Space Launch 101</span></h1>
    <main>
        <section class="numbers">
            <div class="number active-number">
                <p>1</p>
            </div>
            <div class="number">
                <p>2</p>
            </div>
            <div class="number">
                <p>3</p>
            </div>
        </section>
        <section class="info-launchers">
            <p class="launcher-subtitle">The Terminology...</p>
            <h1 class="launcher-title">Launch Vehicle</h1>
            <p class="description">A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a 
                payload from Earth's surface to space, usually to Earth orbit or beyond. Our WEB-X 
                carrier rocket is the most powerful in operation. Standing 150 metres tall, 
                it's quite an awe-inspiring sight on the launch pad!</p>
        </section>
        <section class="launcher-image"><img src="/images/image-launch-vehicle-portrait.jpg" alt=""></section>
    </main>

{{>partials/footer}}