{{>partials/header}}

<main>
        <section class="info">
            <p class="subtitle">So, you want to travel to</p>
            <h1 class="title">Space</h1>
            <p class="text">Let's face it: if you want to go to space, you might as well
                genuinely go to outer space and not hover kind of on the edge of it. Well sit back
                and relax because we'll give you a truly out of this world experience!
            </p>
        </section>
        <section class="explore-sec">
            <a class="explore" href="/destination">Explore</a>
        </section>
    </main>

{{>partials/footer}}