
    <main>
        <section class="crew-info">
            <h2 class="pattent">{{role}}</h2>
            <h1 class="name">{{name}}</h1>
            <p class="bio">{{bio}}</p>
                <div class="points">
                    <a class = '{{#active.:Douglas}}activePoint{{/active.:Douglas}}' href = '/crew:Douglas'></a>
                    <a class = '{{#active.:Mark}}activePoint{{/active.:Mark}}' href = '/crew:Mark'></a>
                    <a class = '{{#active.:Victor}}activePoint{{/active.:Victor}}' href = '/crew:Victor'></a>
                    <a class = '{{#active.:Anousheh}}activePoint{{/active.:Anousheh}}' href = '/crew:Anousheh'></a>
                </div>
        </section>
        <section class="crew-image"><img src="/images/{{images.png}}" alt=""></section>
    </main>
