 <section class="info-launchers">
            <p class="launcher-subtitle">The Terminology...</p>
            <h1 class="launcher-title">{{name}}</h1>
            <p class="description">{{description}}</p>
        </section>
        <section class="launcher-image"><img src="/images/{{images.portrait}}" alt=""></section>
    </main>